@{
    ViewBag.Title = "404";

    if (!Request.IsAuthenticated)
    {
        Layout = null;
        @Styles.Render("~/Content/font-face.css")
        @Styles.Render("~/bundles/css")
        <style>
            .error-wrapper-div {
                min-height: 100vh;
            }

            .error-header {
                display: block !important;
            }

            .error-text-div {
                padding-top: 8rem !important;
            }
        </style>
    }
}

<div class="error-wrapper-div">
    <div class="row m-0 p-0">
        <div class="col-12 text-center py-5 error-header">
            <img class="img-fluid mid-line-1" src="~/Image/MLRe-logo.png" />
            <img class="img-fluid mid-line-2" src="~/Image/Aragon-logo.png" />
        </div>
        <div class="col-12 text-center error-text-div">
            Oops, Page Not Found
        </div>
        <div class="col-12 text-center pt-3">
            <div class="w-100">
                <img class="img-fluid" src="~/Image/MLRe-404-error.png" />
            </div>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-upload m-5" })
            }
        </div>
    </div>
</div>
