<div class="form-row mt-2">
    <div class="form-group col-md-12">
        <div class="form-group col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="active underline-tab" data-toggle="tab" href="#claimRegisterDataTab">Claim Register Data</a></li>
                <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#exception">Exception</a></li>
                <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#claimRetroData">Claim Retro Data</a></li>
                <li class="nav-item"><a class="underline-tab" data-toggle="tab" href="#summary">Summary</a></li>
            </ul>


            <div class="tab-content underline-tab-content">
                <div class="tab-pane fade show active" id="claimRegisterDataTab" role="tabpanel" aria-labelledby="data-tab">
                    @Html.Partial("_ClaimRegisterDataTab")
                </div>
                <div class="tab-pane fade" id="exception" role="tabpanel" aria-labelledby="data-tab">
                    @Html.Partial("_ExceptionTab")
                </div>
                <div class="tab-pane fade" id="claimRetroData" role="tabpanel" aria-labelledby="data-tab">
                    @Html.Partial("_ClaimRetroDataTab")
                </div>
                <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="data-tab">
                    @Html.Partial("_Summary")
                </div>
            </div>
        </div>
    </div>
</div>
