<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=192.168.1.1,1433;Initial Catalog=Andromeda;User Id=sa;Password=0000;MultipleActiveResultSets=True;Max Pool Size=50000;Pooling=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="AppName" value="Andromeda" />
		<!-- Environment: production, uat, local-->
		<add key="Environment" value="local" />
		<!-- General -->
		<add key="RootPath" value="C:/Aragon" />
		<add key="ExportPath" value="\\192.168.1.199\Support\MLRe - Andromeda\Phase 2b\TestPathExport"/>
		<add key="LogPath" value="\\192.168.1.199\Support\MLRe - Andromeda\Phase 2b\TestPathLog"/>
		<add key="UploadPath" value="\\192.168.1.199\Support\MLRe - Andromeda\Phase 2b\TestPath" />
		<add key="WebAppPath" value="C:/Aragon/WebApp2a" />
		<add key="ConsoleAppPath" value="C:/Aragon/ConsoleApp2a" />
		<add key="LogFileStackType" value="d" />
		<add key="AutoDetectChangesEnabled" value="false" />
		<add key="DoublePrecision" value="5" />
		<add key="TrailFormat" value="true" />
		<add key="VueDebug" value="false" />
		<add key="SummaryPageSize" value="5"/>
		<add key="PageSize" value="20" />
		<add key="EnabledDeletePickListDetail" value="true" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
		<add key="UseAppendLogging" value="true" />
    <add key="EnabledConflictCheck" value="true" />
		<!-- Stored Procedure -->
		<add key="EnableStoredProcedure" value="false" />
		<add key="StoredProcedurePath" value="C:/Aragon/StoredProcedure" />
		<!-- Cookie -->
		<add key="IsDebugCookie" value="true"/>
		<add key="CookiePath" value="/P2"/>
		<add key="CookieName" value="P2Aragon"/>
		<add key="RepoObjectUseCookiePath" value="false"/>
		<!-- Session -->
		<add key="SessionLength" value="15" />
		<add key="SessionLengthExpiryNotice" value="1" />
		<!-- Email -->
		<add key="EmailFrom" value="email@email.com" />
		<add key="EmailFromDisplayName" value="Display Name" />
		<add key="EmailSmtpHost" value="smtp.gmail.com" />
		<add key="EmailSmtpPort" value="587" />
		<add key="EmailSmtpUserName" value="email@email.com" />
		<add key="EmailSmtpPassword" value="password!" />
		<add key="EmailEnableSsl" value="false" />
		<!-- Report Server -->
		<add key="ReportServerUrl" value="http://desktop-p6vp4cc:8080/ReportServer" />
		<add key="ReportServerUsername" value="Han4Test" />
		<add key="ReportServerPassword" value="abc123000" />
		<!-- Active Directory -->
		<add key="ActiveDirectoryEnabled" value="true" />
		<add key="ActiveDirectoryPath" value="13.64.193.4" />
		<add key="ActiveDirectoryContainer" value="DC=mlre,DC=com,DC=my" />
		<add key="ActiveDirectoryEmailDomain" value="mlre.com.my" />
		<add key="ActiveDirectoryUsername" value="ad-admin" />
		<add key="ActiveDirectoryPassword" value="Abc123000!" />
		<!-- User Login -->
		<add key="AllowMultipleLogin" value="true" />
		<add key="AllowOnlyAlphanumericUserNames" value="false" />
		<add key="RequireUniqueEmail" value="false" />
		<add key="UserLockoutEnabledByDefault" value="true" />
		<!-- User Password -->
		<add key="PasswordMinLength" value="6" />
		<add key="PasswordMaxLength" value="24" />
		<add key="RandomPasswordLength" value="24" />
		<add key="RequireNonLetterOrDigit" value="true" />
		<add key="PasswordRequireDigit" value="true" />
		<add key="PasswordRequireLowercase" value="true" />
		<add key="PasswordRequireUppercase" value="true" />
		<add key="MaxFailedAccessAttemptsBeforeLockout" value="3" />
		<add key="PasswordReuse" value="5" />
		<add key="DaysBeforePasswordExpiry" value="90" />
		<add key="PasswordExpiryNotice" value="14" />
		<add key="DaysBeforeInactiveUserSuspension" value="90" />
		<add key="DaysBeforeInactiveUserReport" value="30" />
		<!-- RI Data -->
		<add key="RiDataOverrideProperties" value="6,7,8,9,10,104,179,270" />
		<add key="RiDataMaxFileSize" value="2" />
		<add key="ProcessRiDataMaxEmptyRows" value="5" />
		<add key="ProcessRiDataExcelRowRead" value="1000" />
		<add key="ProcessRiDataMaxDebugRows" value="50" />
		<add key="FinaliseRiDataItems" value="500" />
		<add key="ProcessRiDataBatchFailCheckHours" value="3"/>
		<add key="FinaliseRiDataBatchFailCheckHours" value="3"/>
		<add key="RiDataProcessRetries" value ="3"/>
		<!-- Recommended to be 1000 and above -->
		<add key="RiDataBufferWithinRetriesInMilliseconds" value="1000"/>
		<!-- Eval -->
		<add key="RandomStringLength" value="50" />
		<!-- Export Data -->
		<add key="ExportRowRead" value="500" />
		<add key="ExportInstantDownloadLimit" value="50000" />
		<add key="ExportFailCheckHours" value="3"/>
		<!-- Claim Data -->
		<add key="ClaimDataOverrideProperties" value="12,78,19" />
		<add key="ClaimDataMaxFileSize" value="2" />
		<add key="ProcessClaimDataMaxEmptyRows" value="5" />
		<add key="ProcessClaimDataRowRead" value="1000" />
		<add key="ProcessClaimDataFailCheckHours" value="3" />
		<add key="ProcessClaimRegisterItems" value="500" />
		<!-- SOA Data -->
		<add key="ProcessSoaDataMaxEmptyRows" value="5" />
		<add key="ProcessSoaDataRowRead" value="1000" />
		<add key="ProcessSoaDataFailCheckHours" value="3" />
		<!-- MFRS 17 Reporting -->
		<add key="Mfrs17MaxFileSize" value="1717986038" />
		<add key="Mfrs17QueryMaxRow" value="500" />
		<add key="Mfrs17ReportingDirectory" value="Mfrs17ReportingPROD" />
		<!-- SUN GL Files -->
		<add key="E2StartWriteRow" value="15" />
		<add key="E3StartWriteRow" value="15" />
		<add key="E4StartWriteRow" value="15" />
		<!-- Public Holiday -->
		<add key="StartWorkingTime" value="09:00" />
		<add key="EndWorkingTime" value="17:00" />
		<!-- Claim Register -->
		<add key="ExGratiaNotifyCeo" value="false" />
		<add key="ExGratiaCeoName" value="CEO Name" />
		<add key="CrStatusPendingClarification" value="2" />
		<add key="CrStatusClosed" value="2" />
		<add key="CrStatusSuspectedDuplication" value="2" />
		<add key="CrStatusRegistered" value="2" />
		<add key="CrStatusPostUnderwritingReview" value="2" />
		<add key="CrStatusApprovalByLimit" value="2" />
		<add key="CrStatusApprovedByCeo" value="2" />
		<add key="CrStatusApproved" value="2" />
		<add key="CrStatusApprovedReferralClaim" value="2" />
		<add key="CrStatusDeclinedReferralClaim" value="2" />
		<add key="CrStatusClosedReferralClaim" value="2" />
		<add key="CrStatusDeclinedByClaim" value="2" />
		<add key="CrStatusPendingDecline" value="2" />
		<add key="CrStatusDeclined" value="2" />
		<add key="ProvisionDirectRetroClaimRegisterRow" value="1000" />
		<!-- Referral Claim -->
		<add key="RcStatusNewCase," value="2" />
		<add key="RcStatusPendingAssessment," value="2" />
		<add key="RcStatusPendingClarification," value="2" />
		<add key="RcStatusPendingChecklist," value="2" />
		<add key="RcStatusClosed," value="2" />
		<add key="RcStatusClosedRegistered," value="2" />
		<add key="ExpectedReferralTurnAroundTime" value="48" />
		<!-- Sanction -->
		<add key="SanctionDirectory" value="Sanction" />
		<add key="ProcessSanctionRow" value="1000" />
		<add key="ProcessSanctionMaxEmptyRows" value="1000" />
		<add key="ProcessSanctionNameRow" value="1000" />
		<add key="AutoSanctionVerificationDates" value="30/6,31/12" />
		<!-- SharePoint -->
		<add key="SharePointUrl" value="https://sample.sharepoint.com" />
		<add key="SharePointUsername" value="sample@sample.onmicrosoft.com" />
		<add key="SharePointPassword" value="samplepassword" />
		<add key="SharePointDocRootFolder" value="/Shared Documents" />
		<!-- Medical Table -->
		<add key="MedicalTableAgeMultiples" value="1" />
		<add key="MedicalTableSumAssuredMultiples" value="1000" />
		<add key="NonMedicalTableCode" value="NML" />
		<!-- Financial Table -->
		<add key="FinancialTableSumAssuredMultiples" value="1000" />
		<!-- DateTime -->
		<add key="DateFormat" value="dd MMM yyyy" />
		<add key="ExportDateFormat" value="yyyy-MM-dd"/>
		<add key="DateTimeFormat" value="dd MMM yyyy HH:mm:ss" />
		<add key="DateTimeConsoleFormat" value="dd MMM yyyy HH:mm:ss" />
		<add key="DateFormatDatePickerJs" value="dd M yyyy" />
		<add key="DateFormatMomentJs" value="DD MMM YYYY" />
		<add key="DateTimeFormatMomentJs" value="DD MMM YYYY hh:mm A" />
		<add key="DefaultEndDate" value="31 Dec 2999" />
		<!-- Direct Retro -->
		<add key="ProcessDirectRetroItems" value="1000" />
		<add key="EnabledDirectRetroDebug" value="true" />
		<add key="HideDummyDirectRetro" value="true" />
		<add key="DummyDirectRetroIds" value="1" />
		<!-- PersonInCharge-->
		<add key="PerLifeAggregationPicDepartment" value="7" />
		<!-- Data Partitioning -->
		<add key="EnablePartitioning" value="true"/>
		<add key="PartitioningFilePath" value="C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\"/>
		<add key="DatabaseName" value="Andromeda2a"/>
		<add key="RiDataFileCount" value="3"/>
		<add key="RiDataWarehouseFileCount" value="3"/>
		<add key="RiDataWarehouseHistoryFileCount" value="8"/>
		<!-- Cut Off -->
		<add key="ProcessCutOffRiDataWarehouseHistoryTake" value="10000"/>
		<!-- Connection Resilliency -->
    <add key="RetryCount" value="4"/>
    <add key="RetryInterval" value="20000"/>
    <add key="ConnectionStrategyLogging" value="true" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
  <entityFramework codeConfigurationType="DataAccess.EntityFramework.MLReConfiguration, DataAccess">
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>