<div class="table-responsive">
    <table class="table table-hover mt-3" vocab="cloak">
        <thead>
            <tr>
                <th class="w-15">RETRO_RECOVERY_ID</th>
                <th class="w-15">RETRO_TREATY</th>
                <th class="w-15">RETRO_RATIO</th>
                <th class="w-15">AAR</th>
                <th class="w-15">COMPUTED_RETRO_RECOVERY_AMOUNT</th>
                <th class="w-15">COMPUTED_RETRO_LATE_INTEREST</th>
                <th class="w-15">COMPUTED_RETRO_EX_GRATIA</th>
                <th class="w-15">REPORTED_SOA</th>
                <th class="w-15">RETRO_RECOVERY_AMOUNT</th>
                <th class="w-15">RETRO_LATE_INTEREST</th>
                <th class="w-15">RETRO_EX_GRATIA</th>
                <th class="w-15">COMPUTED_CLAIM_CATEGORY</th>
                <th class="w-15">CLAIM_CATEGORY</th>
                <th class="w-15">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="!RecoveryDetails.length">
                <td colspan="10" class="no-data">No available data found.</td>
            </tr>
            <tr v-for="(recoveryDetail, index) in RecoveryDetails">
                <td>{{ recoveryDetail.RetroRecoveryId }}</td>
                <td>{{ recoveryDetail.RetroTreatyBo?.Code }}</td>
                <td>{{ recoveryDetail.RetroRatio }}</td>
                <td>{{ recoveryDetail.Aar }}</td>
                <td>{{ recoveryDetail.ComputedRetroRecoveryAmount }}</td>
                <td>{{ recoveryDetail.ComputedRetroLateInterest }}</td>
                <td>{{ recoveryDetail.ComputedRetroExGratia }}</td>
                <td>{{ recoveryDetail.ReportedSoaQuarter }}</td>
                <td>{{ recoveryDetail.RetroRecoveryAmount }}</td>
                <td>{{ recoveryDetail.RetroLateInterest }}</td>
                <td>{{ recoveryDetail.RetroExGratia }}</td>
                <td>{{ recoveryDetail.ComputedClaimCategoryStr }}</td>
                <td>{{ recoveryDetail.ClaimCategoryStr }}</td>
                <td>
                    <a v-bind:href="editRecoveryDetails(recoveryDetail.Id)" title="Edit Recovery Detail">
                        <span class="fas fa-pencil-alt" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>