
@{
    if (ViewBag.EditDetailsPageUrl != null)
    {
        <a href="@ViewBag.EditDetailsPageUrl" class="btn btn-circle btn-circle-txt" title="Back">
            <span id="backTxt">Back</span>
        </a>
    }
    else if (ViewBag.EditPageUrl != null)
    {
        <a href="@ViewBag.EditPageUrl" class="btn btn-circle btn-circle-txt" title="Back">
            <span id="backTxt">Back</span>
        </a>
    }
    else
    {
        <a href="@ViewBag.ListPageUrl" class="btn btn-circle btn-circle-txt" title="Back">
            <span id="backTxt">Back</span>
        </a>
    }
}