@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true, "Please fix the following error and then submit the form", new { @class = "" })
    </div>
}

@if (@ViewBag.SuccessMessageBottom != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessageBottom
    </div>
}